<!doctype html>
<html>
    <head>
        <title>Feedback</title>
		<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"/>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script> 
        <script>
            $(function() {
               $("#feedback").dataTable();
            });
        </script>

       

    </head>
    
    <body>
    	<h2> <center>WELCOME TO SGGG TY IT</h2></center>
    	  <h3><center><font color="red">Developed Under The Guidance Of Dr. Balaji Shetty Sir</font> </h3></center>
    	  <hr color="green">
    	  <h4> <center> <h2><b>Feedback Section</b></h2></center> </h4>
    	 

    	 	<table id="feedback" class="display" style="width:100%">
				<thead>
					<tr>
						<th>Reg NO</th>
					    <th>Date</th>
					    <th>Subject</th>
					    <th>Student Feedback</th>
				  </tr>
				</thead>
 

		  

	    		{% for entry in fd %}
	    		<tr>
                    <td  align="center"> {{ entry.regNO }} </td>
                    <td  align="center"> {{ entry.date }} </td>
                    <td  align="center"> {{ entry.Subject }} </td>
		            <td  align="center"> {{ entry.Feedback_stu }} </td>

 				</tr>
			    	
			  
				{% endfor %}

			</table>
			<br> </br>	

                <a href="http://127.0.0.1:8000/">
					<button class="Home">
						Back To HOME
					</button>
				</a>
					<br> </br>	

			    	

				
        
    	
    	
    </body>
</html>
