{%load static%}
<link
rel='stylesheet'
type='text/css'
href="{%static 'Student_info/css/bootstrap.css'%}"
/>

<!doctype html>
<html>
    <head>
        <title>List of persons</title>

    </head>
    
    <body>
        <div class="card" style="width: 18rem;"></div>
        <h1><center></h1></center>
    	<h2> <center>WELCOME TO SGGG </h2></center>
    
    	{% comment %} <img src="SGGS.jpeg" alt="SGGS College" width="450" height="400">   {% endcomment %}
        <h3><center><i><font color="red">Developed Under The Guidance Of Dr. Balaji Shetty Sir</font></i></h3></center>
          
          <body bgcolor="sky Blue"> 
            <div>
                <marquee direction="left"  >Shri Guru Gobind Singhji Institude Of Engineering And Technology Vishnupuri, Nanded</marquee>
                
    	  <hr color="green">
          <a href="http://127.0.0.1:8000/Student/">
            <button class="Student">
                Click for Student info
            </button>
        </a>
        <br> </br>
        <a href="http://127.0.0.1:8000/Admission/">
        <button class="Admission">
            Click for Admission info
        </button>
    </a>
        <br> </br>

        <a href="http://127.0.0.1:8000/Mark/">
        <button class="Marks">
            Click for Marks info
        </button>
    </a>
        <br> </br>

        <a href="http://127.0.0.1:8000/Feedback/">
        <button class="Feedback">
            Click for Feedback
        </button>
    </a>
        <br> </br>
            



          {% comment %} <a href="http://127.0.0.1:8000/Student/">Visit Student Information</a>
          <a href="http://127.0.0.1:8000/Admission/">Visit Admission Information</a>
          <a href="http://127.0.0.1:8000/Mark/">Visit Student Marks Information</a>
          <a href="http://127.0.0.1:8000/Feedback/">Visit Student Feedback </a>
          
           {% endcomment %}
           {% comment %} http://127.0.0.1:8000/Home/ {% endcomment %}